<p>Has fencing: <%= @dwelling_info.has_fencing %></p>
<p>Highest fence height: <%= @dwelling_info.fence_highest_height %> inches</p>
<p>Lowest fence height: <%= @dwelling_info.fence_lowest_height %> inches</p>
<p>Has Gate:</p>