<h1>Available Dogs</h1>


<div class="dog-container">
  <% @dogs.each do |dog| %>
    <div class="well">
      <img src=<%= dog.image_url %> alt="Dog" class="dog-photo">
    	<%= form_tag '/applications', method: :post do %>
    		<%= hidden_field_tag :dog_id, dog.id %>
    		<%= submit_tag "#{dog.name}"  %> 
    	<% end %> 
    </div>
  <% end %>
</div>
