<h1>Available Dogs</h1>


<% @dogs.each do |dog| %>
	<%= form_tag '/applications', method: :post do %>
		<%= hidden_field_tag :dog_id, dog.id %>
		<%= submit_tag "#{dog.name}"  %> 
	<% end %> 
<% end %>
