<div id="app">
<div id="application-id" class="hidden"><input type="hidden"> @application.id </div>





<h3>Lifestyle Information</h3>
  <div class="container">

  <form action="" class="lifestyle-info">
    <br>
    What are your primary reasons for wanting a dog? (Check all that apply)
    <div class="checkbox">
      <label>
         <input type="checkbox" v-model="reasonCompanion">Companion for You
        <br>
        <input type="checkbox" v-model="reasonKids">For your Kids
        <br>
        <input type="checkbox" v-model="reasonGift">Gift   
        <br>
        <input type="checkbox" v-model="reasonOtherPet">For your Other Pet(s) 
        <br>
        <input type="checkbox" v-model="reasonWatchdog">Watchdog 
        <br>
      </label>
    </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="" v-model="allergies">
          Does anyone in your household have allergies?
        </label>
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">About how many hours per day would the dog be left alone?</label>
      <input type="text" class="form-control" id="exampleInputEmail1">
    </div>
    Is anyone home during the day? <input type="text" v-model="homeDuringDay">
    <br>
    When would the dog be outside? <input type="text" v-model="whenOutside">
    <br>
    When would the dog be inside? <input type="text" v-model="whenInside">
    <br>
    About how many hours per day would the dog be left alone? <input type="text" v-model="hoursDogLeftAlone" >
    <br>
    Where would the dog sleep at night? <input type="text" v-model="whereDogSleep">
    <br>
    What outside area is available to the dog?
    Fenced Yard <input type="radio" v-model="outsideAreas">  
    Enclosed Patio <input type="radio" v-model="outsideAreas">  
    Garage <input type="radio" v-model="outsideAreas">  
    Balcony <input type="radio" v-model="outsideAreas">  
    Dog House <input type="radio" v-model="outsideAreas">  
    Other <input type="radio" v-model="outsideAreas">  
    None <input type="radio" v-model="outsideAreas">  
    <br>
    What is your preferred level of exercise with a dog? 
    Couch Potato  <input type="radio" v-model="preferredLevelOfExercise">
    Short Walks  <input type="radio" v-model="preferredLevelOfExercise">
    Vigorous Walks  <input type="radio" v-model="preferredLevelOfExercise">
    Hike/Jog Regularly  <input type="radio" v-model="preferredLevelOfExercise">
    <br>
    Where, specifically, will the dog stay when he/she is home alone? <input type="text" v-model="whereDogStay"> 
    <br>
    What type of food will you feed the dog? <input type="text" v-model="typeOfDogFood">
    <br>
    <input type="submit" value="Submit" v-on:click="updateLifestyleInfo(newLifestyleInfo)">
  </form>
</div>

  <h3>Ownership History</h3>
  <form action="" class="ownership-history">
    How many pets do you currently have? <input type="text" v-model="numberOfCurrentPets">
    <br>
    Have you ever allowed your pets to breed? <input type="checkbox" v-model="allowedBreeding">
    <input type="submit" value="Submit">
  </form>

  <h3>Add a Pet</h3>

  <form class="owned-pet">
    <input type="text" v-model="ownershipHistoryId" value="hidden">
    Species: <input type="text" v-model="species">
    <br>
    Breed: <input type="text" v-model="breed">
    <br>
    Do you currently own this pet? <input type="checkbox" v-model="current">
    <br>
    How long did you own this pet? <input type="checkbox" v-model="lengthOfOwnership">
    <br>
    If this pet is no longer with you, explain why. <input type="text" v-model="explanation">
    <br>
    <input type="submit" value="Add Pet">
  </form>

  <h3>Ownership Profile</h3>

  <form class="ownership-profile">
    Who will groom your dog?  <input type="text" v-model="whoGrooms">
    <br>
    Do you have a current, regular vet? <input type="checkbox" v-model="regularVet">
    <br>
    Check the box if your dog will wear a collar. <input type="checkbox" v-model="wearsCollar">
    <br>
    What is your level of experience owning a dog?  <input type="text" v-model="experienceLevel">
    <br>
    How would you discipline your dog if he or she misbehaved?  <input type="text" v-model="disciplineStyle">
    <br>
    How would you train this dog? 
    Obedience Class <input type="checkbox" v-model="trainingObedienceClass">
    Hit with Newspaper <input type="checkbox" v-model="trainingHit">
    Verbal Commands <input type="checkbox" v-model="trainingVerbal">
    Clicker/Hand Signals <input type="checkbox" v-model="trainingClicker">
    Other <input type="checkbox" v-model="trainingOther">
    <br>
    How do you normally walk your dog? <input type="text" v-model="dogWalkStyle">
    <br>
    Are you willing to live with hair on furniture, stains on your rugs, a warm body in your bed, and an animal that might be destructive at times? <input type="checkbox" v-model="ready">
    <br>
    Pets are an investment of your time and money. Can you afford to provide medical care, grooming, proper diet, shelter and exercise for your new pet? <input type="checkbox" v-model="invested">
    <br>
    What would happen to your pets if you moved?
    <br>
    Locally? <input type="text" v-model="moveLocallyPlan">
    Out of State? <input type="text" v-model="moveFarPlan">
    Internationally? <input type="text" v-model="moveInternationallyPlan">
    <br>
    Which of the following reasons might prompt you to give up your dog? (Check all that apply) 
    <br>
    Excessive Barking <input type="checkbox" v-model="guExcessiveBarking">
    Biting <input type="checkbox" v-model="guBiting">
    Digging <input type="checkbox" v-model="guDigging">
    Moving <input type="checkbox" v-model="guMoving">
    Divorce <input type="checkbox" v-model="guDivorce">
    Poor Watchdog <input type="checkbox" v-model="guPoorWatchdog">
    Distructive Chewing <input type="checkbox" v-model="guDistructive">
    Financial Problems <input type="checkbox" v-model="guFinancial">
    Excessive Accidents Indoors <input type="checkbox" v-model="guAccidents">
    Growling at Guests <input type="checkbox" v-model="guGrowls">
    Excessive Vet Bills <input type="checkbox" v-model="guVetBills">
    Shedding <input type="checkbox" v-model="guShedding">
    Allergies <input type="checkbox" v-model="guAllergies">
    Spouse/Partner does not like the Dog <input type="checkbox" v-model="guNewPartner">
    Aggressive <input type="checkbox" v-model="guAggressive">
    Other <input type="checkbox" v-model="guOther">
    <br>
    <input type="submit" value="Submit">
  </form>

  <h3>Dwelling Information</h3>

  <form class="dwelling-info">
    Does your Home have a fenced yard? <input type="checkbox" v-model="hasFencing">
    <br>
    What is the highest height of your fence? <input type="text" v-model="fenceHighestHeight">
    <br>
    What is the lowest height of your fence? <input type="text" v-model="fenceLowestHeight">
    <br>
    Does your fence have a gate? <input type="checkbox" v-model="hasGates">
    <br>
    Is your yard accessible from the street? <input type="checkbox" v-model="streetAccess">
    <br>
    Who has access to your yard?
    <br>
    Poolman <input type="radio" v-model="whoHasYardAccess">
    Gardner <input type="radio" v-model="whoHasYardAccess">
    Utility Company <input type="radio" v-model="whoHasYardAccess">
    Neighbor <input type="radio" v-model="whoHasYardAccess">
    Other <input type="radio" v-model="whoHasYardAccess">
    N/A <input type="radio" v-model="whoHasYardAccess">
    <br>
    <input type="submit" value="Submit">
  </form>

  

</div>

