<h1>Update application </h1>


<%= form_tag '/applications', method: :post do %>
	<div>
		<%= label_tag :dog_id %>
		<%= text_field_tag :dog_id, value = "#{@application.dog_id}" %>
	</div>
	

	<%= submit_tag "Submit" %>
<% end %>