
<div class="page-header text-center">
  <h1>Fill out your application for <%= @application.dog.name %></h1>
</div>

<div class="row">

<div id="app" class="col-xs-10 col-sm-offset-1">


<!-- progress bar -->
<div class="progress-wrapper">
    <div class="total-bar">
    </div> 

    <div v-bind:class="tracker" class="tracker-bar">  
    </div>

    <ul class="steps-wrapper">
        <li class="step pb-complete">1</li>
        <li v-bind:class="{ 'pb-complete': pbLifestyleInfo }" class="step" v-on:click="changeScene('lifestyle')">2</li>
        <li v-bind:class="{ 'pb-complete': pbOwnershipHistory }" class="step" v-on:click="changeScene('ownership history')">3</li>
        <li v-bind:class="{ 'pb-complete': pbPets }" class="step" v-on:click="changeScene('pets')">4</li>
        <li v-bind:class="{ 'pb-complete': pbOwnershipProfile }" class="step" v-on:click="changeScene('ownership profile')">5</li>
        <li v-bind:class="{ 'pb-complete': pbDwellingInfo }" class="step" v-on:click="changeScene('dwelling')">6</li>
    </ul>
    
</div>
<!-- progress bar end -->

<!-- passing application id to ajax calls -->
<div id="application-id" class="hidden"><%= @application.id %></div>

<!-- LIFESTYLE INFO -->
<h3 v-on:click="changeScene('lifestyle')">Lifestyle Information</h3>

<div class="container" id="LifestyleInfo" v-if="scene === 'lifestyle'">

  <div class="lifestyle-info">
    <br>
    <h4>What are your primary reasons for wanting a dog? (Check all that apply)</h4>
    <div class="checkbox">
      <label>
         <input type="checkbox" v-model="reasonCompanion">Companion for You
        <br>
        <input type="checkbox" v-model="reasonKids">For your Kids
        <br>
        <input type="checkbox" v-model="reasonGift">Gift   
        <br>
        <input type="checkbox" v-model="reasonOtherPet">For your Other Pet(s) 
        <br>
        <input type="checkbox" v-model="reasonWatchdog">Watchdog 
        <br>
      </label>
    </div>
    <br>

    <h4>Does anyone in your household have allergies?</h4>
    <div class="checkbox">
        <label>
            <input type="checkbox" value="true" v-model="allergies"> Yes
        </label>
        <br>
        <label>
            <input type="checkbox" value="false" v-model="allergies"> No
        </label>
    </div>
    <br>

    <div class="form-group">
      <label><h4>About how many hours per day would the dog be left alone?</h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="homeDuringDay">
    </div>
    <div class="form-group">
      <label><h4>When would the dog be outside?</h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="whenOutside">
    </div>
    <div class="form-group">
      <label><h4>When would the dog be inside?</h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="whenInside">
    </div>
    <div class="form-group">
      <label><h4>About how many hours per day would the dog be left alone?</h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="hoursDogLeftAlone">
    </div>
    <div class="form-group">
      <label><h4>Where would the dog sleep at night?</h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="whereDogSleep">
    </div>
    <br>
    
    <h4>What outside area is available to the dog?</h4>
    <div class="radio">
      <label>
        <input type="radio" v-model="outsideAreas" value="1" checked>
        Fenced Yard
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="outsideAreas" value="2">
        Enclosed Patio
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="outsideAreas" value="3">
        Garage
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="outsideAreas" value="4">
        Balcony
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="outsideAreas" value="5">
        Dog House
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="outsideAreas" value="6">
        Other
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="outsideAreas" value="7">
        None
      </label>
    </div>
    

    <h4>What is your preferred level of exercise with a dog?</h4>
    <div class="radio">
      <label>
        <input type="radio" v-model="preferredLevelOfExercise" value="1" checked>
        Couch Potato
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="preferredLevelOfExercise" value="2">
        Short Walks
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="preferredLevelOfExercise" value="3">
        Vigorous Walks
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="preferredLevelOfExercise" value="4">
        Hike/Jog Regularly
      </label>
    </div>
    <div class="form-group">
    <br>
      <label><h4>Where, specifically, will the dog stay when he/she is home alone?</h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="whereDogStay">
    </div>
    <div class="form-group">
      <label><h4>What type of food will you feed the dog?</h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="typeOfDogFood">
    </div>
    <button class="btn btn-lg btn-default" v-on:click="updateLifestyleInfo(newLifestyleInfo)">Submit</button>
  </div>
</div>

<!-- LIFESTYLE INFO END -->



















<!-- OWNERSHIP HISTORY -->

  <h3 v-on:click="changeScene('ownership history')">Ownership History</h3>
  
      <div class="ownership-history" v-if="scene === 'ownership history'">
        <div class="form-group">
          <label><h4>How many pets do you currently have?</h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="numberOfCurrentPets">
        </div>
        <br>
        <div class="checkbox">
          <label>
            <h4>Have you ever allowed your pets to breed? </h4>
             <label><input type="checkbox" v-model="allowedBreeding" value="true">Yes</label>
            <br>
            <label><input type="checkbox" v-model="allowedBreeding" value="false">No</label>
          </label>
        </div>
        <button class="btn btn-lg btn-default" v-on:click="updateOwnershipHistory(newOwnershipHistory)">Submit</button>
      </div>


<!-- OWNERSHIP HISTORY END -->




<!-- ADD OWNED PETS -->
  
  <h3 v-on:click="changeScene('pets')">Add a Pet</h3>
  <div class="container" v-if="scene === 'pets'">
      <div class="owned-pet" >
        <div class="form-group">
          <label><h4>Species</h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="species">
        </div>
        <div class="form-group">
          <label><h4>Breed</h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="breed">
        </div>
        <br>
        <div class="checkbox">
          <label>
            <h4>Do you currently own this pet? </h4>
             <label><input type="checkbox" v-model="current" value="true">Yes</label>
            <br>
            <label><input type="checkbox" v-model="current" value="false">No</label>
          </label>
        </div>
         <div class="form-group">
          <label><h4>How long did you own this pet?</h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="lengthOfOwnership">
        </div>
        <br>
        <div class="form-group">
          <label><h4>If this pet is no longer with you, explain why.</h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="explanation">
        </div>
        <br>
        <button class="btn-lg btn-default" v-on:click="addOwnedPet(newOwnedPet)">Add Pet</button>
      </div>
  </div>  

  <!-- OWNED PETS END  -->






  <!-- OWNERSHIP PROFILE -->

  <h3 v-on:click="changeScene('ownership profile')">Ownership Profile</h3>
  <div class="container" v-if="scene === 'ownership profile'">
      <div class="ownership-profile">
        <div class="form-group">
          <label><h4>Who will groom your dog?</h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="whoGrooms">
        </div>
        <div class="checkbox">
          <label>
            <h4>Do you have a current, regular vet?</h4>
             <input type="checkbox" v-model="regularVet" value="true">Yes
            <br>
            <input type="checkbox" v-model="regularVet" value="false">No
          </label>
        </div>
        <br>
        <div class="checkbox">
          <label>
            <h4>Will your dog wear a collar? </h4>
             <input type="checkbox" v-model="wearsCollar" value="true">Yes
            <br>
            <input type="checkbox" v-model="wearsCollar" value="false">No
          </label>
        </div>
        <div class="form-group">
          <label><h4>What is your level of experience owning a dog?</h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="experienceLevel">
        </div>
        <br>
        <div class="form-group">
          <label><h4>How would you discipline your dog if he or she misbehaved? </h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="disciplineStyle">
        </div>
        <br>
        <div class="checkbox">
          <label>
            <h4>How would you train this dog? (Check all that apply) </h4>
             <label><input type="checkbox" v-model="trainingObedienceClass">  Obedience Class </label>
             <br>
             <label><input type="checkbox" v-model="trainingHit">  Hit with Newspaper </label>
             <br>
             <label><input type="checkbox" v-model="trainingVerbal">  Verbal Commands </label>
             <br>
             <label><input type="checkbox" v-model="trainingClicker">  Clicker/Hand Signals </label>
             <br>
             <label><input type="checkbox" v-model="trainingOther">  Other </label>
          </label>
        </div>
        <div class="form-group">
          <label><h4>How do you normally walk your dog? </h4></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="dogWalkStyle">
        </div>
        <br>
        <div class="checkbox">
          <label>
            <h4>Are you willing to live with hair on furniture, stains on your rugs, a warm body in your bed, and an animal that might be destructive at times? </h4>
             <input type="checkbox" v-model="ready" value="true"> Yes
            <br>
            <input type="checkbox" v-model="ready" value="false"> No
          </label>
        </div>
        <br>
        <div class="checkbox">
          <label>
            <h4>Pets are an investment of your time and money. Can you afford to provide medical care, grooming, proper diet, shelter and exercise for your new pet? </h4>
             <input type="checkbox" v-model="invested" value="true"> Yes
            <br>
            <input type="checkbox" v-model="invested" value="false"> No
          </label>
        </div>
        <div class="form-group">
          <h4>What would happen to your pets if you moved?</h4>
          <label><h5>Locally?</h5></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="moveLocallyPlan">
          <br>
          <label><h5>Out of State?</h5></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="moveFarPlan">
          <br>
          <label><h5>Internationally?</h5></label>
          <input type="text" class="form-control" id="exampleInputEmail1" v-model="moveInternationallyPlan">
        </div>
        <div class="checkbox">
          <label>
            <h4>Which of the following reasons might prompt you to give up your dog? (Check all that apply) </h4>
          </label>
          <br>
            <label><input type="checkbox" v-model="guExcessiveBarking"> Excessive Barking </label> 
            <br>
            <label><input type="checkbox" v-model="guBiting"> Biting </label> 
            <br>
            <label><input type="checkbox" v-model="guDigging"> Digging </label> 
            <br>
            <label><input type="checkbox" v-model="guMoving"> Moving</label>  
            <br>
            <label><input type="checkbox" v-model="guDivorce"> Divorce </label> 
            <br>
            <label><input type="checkbox" v-model="guPoorWatchdog"> Poor Watchdog</label>  
            <br>
            <label><input type="checkbox" v-model="guDistructive"> Distructive Chewing</label>  
            <br>
            <label><input type="checkbox" v-model="guFinancial"> Financial Problems</label>  
            <br>
            <label><input type="checkbox" v-model="guAccidents"> Excessive Accidents Indoors</label>  
            <br>
            <label><input type="checkbox" v-model="guGrowls"> Growling at Guests </label> 
            <br>
            <label><input type="checkbox" v-model="guVetBills"> Excessive Vet Bills</label> 
            <br>
            <label><input type="checkbox" v-model="guShedding"> Shedding</label>  
            <br>
            <label><input type="checkbox" v-model="guAllergies"> Allergies</label>  
            <br>
            <label><input type="checkbox" v-model="guNewPartner"> Spouse/Partner does not like the Dog</label>  
            <br>
            <label><input type="checkbox" v-model="guAggressive"> Aggressive</label>  
            <br>
            <label><input type="checkbox" v-model="guOther"> Other</label>  
            <br>
        </div>
        <button class="btn-lg btn-default" v-on:click="updateOwnershipProfile(newOwnershipProfile)">Submit</button>
      </div>
  </div>  

  <!-- OWNERSHIP PROFILE END  -->












  <!-- DWELLING INFO -->

  <h3 v-on:click="changeScene('dwelling')">Dwelling Information</h3>

  <div class="dwelling-info" v-if="scene === 'dwelling'">

    <div class="checkbox">
      <label>
        <h4> Does your Home have a fenced yard? </h4>
         <label><input type="checkbox" v-model="hasFencing" value="true">Yes</label>
        <br>
        <label><input type="checkbox" v-model="hasFencing" value="false">No</label>
      </label>
    </div>
    <br>
    <div class="form-group">
      <label><h4>What is the highest height of your fence? </h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="fenceHighestHeight">
    </div>
    <br>
    <div class="form-group">
      <label><h4>What is the lowest height of your fence? </h4></label>
      <input type="text" class="form-control" id="exampleInputEmail1" v-model="fenceLowestHeight">
    </div>
    

    <div class="checkbox">
      <label>
        <h4> Does your fence have a gate? </h4>
         <label><input type="checkbox" v-model="hasGates" value="true">Yes</label>
        <br>
        <label><input type="checkbox" v-model="hasGates" value="false">No</label>
      </label>
    </div>
    <br>
    <div class="checkbox">
      <label>
        <h4> Is your yard accessible from the street? </h4>
         <label><input type="checkbox" v-model="streetAccess" value="true">Yes</label>
        <br>
        <label><input type="checkbox" v-model="streetAccess" value="false">No</label>
      </label>
    </div>
    
    <h4>Who has access to your yard?</h4>
    <div class="radio">
      <label>
        <input type="radio" v-model="whoHasYardAccess" value="1" checked>
        Poolman
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="whoHasYardAccess" value="2">
        Gardner
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="whoHasYardAccess" value="3">
        Utility Company
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="whoHasYardAccess" value="4">
        Neighbor
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="whoHasYardAccess" value="4">
        Other
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" v-model="whoHasYardAccess" value="4">
        N/A
      </label>
    </div>
    
    <button class="btn-lg btn-default" v-on:click="updateDwellingInfo(newDwellingInfo)">Submit</button>
   <!--  <input type="submit" value="Submit" v-on:click="updateDwellingInfo(newDwellingInfo)"> -->

  </div>

  <!-- DWELLING INFO END -->
</div>
</div>





