<h2>Index Page! For admin only!</h2>

<% @applications.each do |application| %>
	<div>
    <% if application.dog %>
  		<a href="/applications/<%=application.id%>"><h2>Dog Name: <%= application.dog.name %></h2>  </a>
  		<h3>Identifier: <%= application.dog.identifier %></h3> 
    <% end %>
	</div>
<% end %>