 <!-- banner start -->
<!-- ================ -->
<div class="banner clearfix">

  <!-- slideshow start -->
  <!-- ================ -->
  <div class="slideshow" >

    <!-- slider revolution start -->
    <!-- ================ -->
    <div class="slider-revolution-5-container" >
      <div id="slider-banner-fullwidth" class="slider-banner-fullwidth rev_slider" data-version="5.0">
        <ul class="slides">
          <!-- slide 1 start -->
          <!-- ================ -->
          <li data-transition="random" data-slotamount="default" data-masterspeed="default" data-title="">

          <!-- main image -->
          <img src="/images/franks.jpg" alt="slidebg1" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover"  class="rev-slidebg">

          <!-- Transparent Background -->
          <div class="tp-caption dark-translucent-bg"
            data-x="center"
            data-y="center"
            data-start="0"
            data-transform_idle="o:1;"
            data-transform_in="o:0;s:600;e:Power2.easeInOut;"
            data-transform_out="o:0;s:600;"
            data-width="5000"
            data-height="5000">
          </div>

          <!-- LAYER NR. 1 -->
          <div class="tp-caption large_white"
            data-x="left"
            data-y="110"
            data-start="500"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Adopt, Don't Shop
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption large_white tp-resizeme"
            data-x="left"
            data-y="170"
            data-start="650"
            data-transform_idle="o:1;"
            data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
              <div class="separator-2 light"></div>
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption medium_white"
            data-x="left"
            data-y="180"
            data-start="650"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"> AdoptaBull is making the process of applying for a rescue animal more stream lined. <br> Giving more time for fundraising, vet visits and doggie snuggles! 
          </div>

          

          </li>
          <!-- slide 1 end -->

          <!-- slide 2 start -->
          <!-- ================ -->
          <li class="text-center" data-transition="fade" data-slotamount="default" data-masterspeed="default" data-title="">

          <!-- main image -->
          <img src="/images/deeds.jpg" alt="Deeds" data-bgposition="center top"  data-bgrepeat="no-repeat" data-bgfit="cover" class="rev-slidebg">

          <!-- Transparent Background -->
          <div class="tp-caption dark-translucent-bg"
            data-x="center"
            data-y="center"
            data-start="0"
            data-transform_idle="o:1;"
            data-transform_in="o:0;s:600;e:Power2.easeInOut;"
            data-transform_out="o:0;s:600;"
            data-width="5000"
            data-height="5000">
          </div>

          <!-- LAYER NR. 1 -->
          <div class="tp-caption large_white"
            data-x="center"
            data-y="110"
            data-start="500"
            data-width="650"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;o:0;s:900;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;">Add Some Love to your Life
          </div>

          <!-- LAYER NR. 2 -->
          <div class="tp-caption large_white tp-resizeme hidden-xs"
            data-x="center"
            data-y="150"
            data-start="650"
            data-width="500"
            data-transform_idle="o:1;"
            data-transform_in="o:0;s:2000;e:Power4.easeInOut;">
              <div class="separator light"></div>
          </div>

          <!-- LAYER NR. 3 -->
          <div class="tp-caption medium_white hidden-xs"
            data-x="center"
            data-y="180"
            data-start="650"
            data-width="750"
            data-transform_idle="o:1;"
            data-transform_in="y:[100%];sX:1;sY:1;s:900;e:Power4.easeInOut;"
            data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;"
            data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
            data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"> I don't shed, I emit magical fibers of Joy and Love! <br> -Dog
          </div>

          

          </li>
          <!-- slide 2 end -->
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
    <!-- slider revolution end -->

  </div>
  <!-- slideshow end -->

</div>
<!-- banner end -->

<section id="index" class="main-container">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <h1>Welcome to AdoptaBull</h1>

			<h5>Apply online for your new Bestie!</h5>
    </div>
  </div>
</section>  

<section class="section light-gray-bg clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="call-to-action">
          <div class="row">
            <div class="col-sm-8">
              <h3 class="mt-10 text-muted">View AvailaBull Dogs</h3>
            </div>
            <div class="col-sm-4 text-right">
              <a href="/dogs" class="btn btn-lg radius-50 btn-primary btn-animated">Take me to the pups!<i class="fa fa-arrow-right pl-20"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




