body {
  background-color: 
}

.btn-primary {
  background-color: #0e36cf;
  border-color: #0e36cf;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #fd7dac;
  border-color: #fd7dac;
}

.logo img {
  max-width: 200px;
  
}

#app {
  padding-bottom: 100px;
}

#app h3 {
  border-bottom: 2px solid #ddd;
  cursor: pointer;
  padding-bottom: 15px;
}

#app .container {
  width: 100%;
  padding: 0 0 30px;
}

ul {
  position: relative; 
  justify-content: space-between; 
  display: flex;
  width: 600px;
}

.step {
  border-radius: 50%;
  background-color: #0e36cf;
  height: 30px;
  position: relative;
  width: 30px;
  list-style-type: none;
  z-index: 1;
  transition: background-color 0.2s linear;
}
.step:hover {
    cursor:pointer;
}

.hidden {
  display: none;
}

.dog-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
  
}

.well {
  background: transparent;
  border: 0;
  box-shadow: none;
  width: calc(100%/3);
  text-align: center;
}

.dog-photo {
  border: thick;
  border-width: 2px;
  border-color: white;
  border-radius: 50%;
  margin: 0 auto;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.3);

}

.progress-wrapper {
  background: white;
  padding: 30px 30px 0;
  bottom: -20px;
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
}
.total-bar {
  background-color: #0e36cf;
  position: relative;
  height: 8px;
  width: 100%;
}

.tracker-bar {
  background-color: #fd7dac;
  position: relative;
  height: 8px;
  width: 10%;
  top: -8px;
  transition: width: 0.2s ease-out;
}

.tracker-bar.lifestyle-info{
  width: 20%;
}
.tracker-bar.ownership-history{
  width: 40%;
}
.tracker-bar.owned-pets{
  width: 60%;
}
.tracker-bar.ownership-profile{
  width: 80%;
}
.tracker-bar.dwelling-info{
  width: 100%;
}

.page-wrapper {
  background: #F1F3FB;
}




.steps-wrapper {
  position: relative;
  top: -27px;
  width: 100%;
  padding: 0;
  text-align: center;
  color: white;
  line-height: 28px;
  font-weight: bold;
}

.instagram-wrapper {
  max-width: 900px;
}

.step.pb-complete {
  border-radius: 50%;
  background-color: #fd7dac;
  height: 30px;
  position: relative;
  width: 30px;
  list-style-type: none;
}
.step:first-of-type {
  margin-left: -15px;
}
.step:last-of-type {
  margin-right: -15px;
}